# ======================
# Nginx - Certificats SSL
# ======================
#dockers/nginx/certs/
# ou plus fin si tu veux garder le dossier vide dans git
certs/*.key
certs/*.crt
certs/*.csr
certs/*.srl
dockers/nginx/certs/*.pem

# ======================
# Nginx - Authentification
# ======================
.htpasswd
.htpasswd.*