# .env          ← dans .gitignore ✅ — valeurs réelles
DAGSHUB_USERNAME=monuser
DAGSHUB_TOKEN=abc123secret
DAGSHUB_REPO=Supply-Chain-MLOps

COMPOSE_PROJECT_NAME=mlopsv
COMPOSE_FILE=docker-compose.yml:docker-compose.airflow.yml

BACKEND_EXTRA=cpu
AIRFLOW_UID=1000
